description = "Homepagina"

[staticPage]
useContent = 1
default = 0
==
<html>
    <head>
        {% partial "header" %}
        <title>Pieter Boersma - homepagina</title>
    </head>
    <body>
        {% partial "navigation" %}
        <div class="thirteen wide horizontal reverse mobile top container">
                <div class="five wide one offset column">
                    <div class="row">
                        <div class="image">
                            <img src="/storage/app/media/me.jpg">
                        </div>
                    </div>
                </div>
                
                <div class="five wide one offset column">
                    <h1>Pieter Boersma, een creative ICT student</h1>
                    <p>Als ICT student word ik breed opgeleid. In de eerste twee jaar kwamen verschillende onderwerpen als game development, web development, ondernemen en robotica aan bod.</p>
                    <p>Ik wil mij in mijn derde en vierde jaar verder ontwikkelen in het ontwerpen van applicaties die gemakkelijk te gebruiken zijn én die er strak en modern uit zien.</p>
                    <div class="half row">
                            <div class="thirteen wide top bottom light-gray container">
                                <div class="eleven wide one offset column">
                                        <div class="row">
                                            <h4>Een website nodig? Zoek niet verder!</h4>
                                            <p>U krijgt van mij een toffe website die met de modernste technieken in elkaar is gezet. Omdat ik nog lerende ben en ik een portfolio aan het opbouwen ben vraag ik geen hoofdprijs voor een website.</p>
                                            <p>Bekijk mijn portfolio voor een overzicht van mijn ervaringen met eerdere opdrachtgevers.</p>
                                        </div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
    </body>
      <footer>
            {% partial "footer" %}
      </footer>
</html>



