description = "Portfolio"

[staticPage]
useContent = 1
default = 0
==
use pieterboersma\Portfolio\Models\Item;

function onStart(){
$this['items'] = Item::all();
}
==
<html>
    <head>
        {% partial "header" %}
        <title>Pieter Boersma - mijn portfolio</title>
    </head>
    <body>
      
        <!-- <div class="thirteen wide light-gray double container">
            <div class="thirteen wide gray bottom container">
                <div class="eleven wide one offset column">
                    {% page %}
                </div>
            </div>
        </div>
 -->


        <!-- {% for item in items %}
            <div class="five wide one offset horizontal reverse mobile top padding container" style="float: left;">
                <div class="thirteen wide light-gray bottom container">
                    <div class="eleven wide one offset column">
                        <div class="row">
                            <div class="fluid pointer image">
                                <a href="/portfolio/{{item.identifier}}">
                                    <img src="/storage/app/media{{item.file}}">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <p class="subtitle">{{ item.labels }}</p>
                            <h2>{{ item.title }}</h2>
                             <a href="/portfolio/{{item.identifier}}"><button class="pink button">Bekijken</button></a> 
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %} -->

        {% partial "navigation" %}

        <div class="thirteen wide none light-gray container">


        {% for item in items %}
           <div class="five wide one offset bottom white container">
               <div class="eleven wide one offset column">
                   <div class="row">
                        <div class="image">
                            <img src="/storage/app/media{{item.file}}">
                        </div>
                   </div>
                   <div class="row">
                       <h2>{{item.title}}</h2>
                   </div>
               </div>
           </div>
        {% endfor %}

    </div>


    </body>
    <footer>
        {% partial "footer" %}
    </footer>
</html>