description = "Versie 1"

[staticPage]
useContent = 1
default = 0
==
<html>
      <head>
            {% partial "header" %}
            <title>Pieter Boersma - mijn portfolio</title>
      </head>
      <body>
            {% partial "navigation" %}
            <div class="thirteen wide double bottom container">
                <div class="eleven wide one offset double bottom dark-blue container">
                  <div class="eleven wide one offset column">
                        {% page %}
                  </div>
            </div>
            </div>

            <div class="eleven wide one offset horizontal reverse mobile light-gray container">
                  <div class="three wide one offset column">
                        {% placeholder one title="Afbeelding 1" %}
                  </div>
                  <div class="seven wide one offset column">
                        {% placeholder two title="Titel 1" %}
                  </div>
            </div>

            <div class="eleven wide one offset horizontal mobile top bottom container">
                  <div class="three wide column">
                        {% placeholder three title="Titel 2"%}
                  </div>
                  <div class="nine wide one offset column">
                        {% placeholder four title="Afbeelding 2" %}
                  </div>
            </div>

            <div class="eleven wide one offset bottom light-gray horizontal wrap container">
                  <div class="eleven wide one offset column">
                        {% placeholder five title="Titel 3" %}
                  </div>

                  <div class="five wide one offset column">
                        {% placeholder six title="Kolom 1" %}
                  </div>
                  <div class="five wide one offset column">
                        {% placeholder seven title="Kolom 2" %}
                  </div>
            </div>

            <div class="thirteen wide horizontal wrap container">
                  <div class="eleven wide one offset column">
                        {% placeholder eight title="Titel 4" %}
                  </div>
                  <div class="eleven wide one offset column">
                        {% placeholder nine title="Afbeelding 4" %}
                  </div>
            </div>

            <div class="thirteen wide top bottom container">
                  <div class="six wide one offset column">
                        {% placeholder ten title="Button" %}
                  </div>
            </div>
            
      </body>
      <footer>
            {% partial "footer" %}
      </footer>
</html>