description = "Page footer"
==
<div class="thirteen wide dark-blue horizontal mobile half container">
      <div class="three wide one offset column">
            <div class="row">
                  <ul class="footer-ul">
                        <li>Contact</li>
                        <li>06 11 25 58 36</li>
                        <li>info@pieterboersma.nl</li>
                        <li>IBAN: NL63 ASNB 0709 1893 38</li>
                  </ul>
            </div>
      </div>
      <div class="two wide one offset column">
            <div class="row">
                  <ul class="footer-ul">
                        <li>Overzicht</li>
                        <li><a href="/">Hoofdpagina</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a target="_blank" href="/backend">Backend</a></li>
                  </ul>
            </div>
      </div>
</div>

<div class="thirteen wide text-centered-mobile white half horizontal mobile container">
      <div class="three wide one offset column">
            <div class="row">
                  <p class="top bottom">&copy;2020 Pieter Boersma</p>
            </div>
      </div>
      <div class="eight wide one offset column">
            <div class="row">
                  <a target="_blank" href="https://www.github.com/Pietertt"><img class="icon" src="/themes/portfolio/assets/images/github.jpg" /></a>
                  <a target="_blank" href="https://www.linkedin.com/in/pieter-boersma-2815a217a"><img class="icon" src="/themes/portfolio/assets/images/linkedin.jpg" /></a>
                  <a target="_blank" href="https://www.laravel.com"><img class="icon" src="/themes/portfolio/assets/images/laravel.png" /></a>
                  <a target="_blank" href="https://www.octobercms.com"><img class="icon" src="/themes/portfolio/assets/images/october.png" /></a>
            </div>
      </div>  
</div>

