<app-menu></app-menu>
<div class="ten wide container">
      <div class="row">
            <div class="ten wide column">
                  <h1 class="square">Hoe het allemaal begon</h1>
                  <p>
                        Toen ik het vak informatica in klas 4 op de middelbare school kreeg had het direct mijn interesse. Ik snapte er echter nog niet veel van. 
                        We begonnen in de vierde klas met een simpele HTML website, maar ik vond het allemaal maar lastig. Vooral theoretische kennis zoals 'bits en bytes' ging bij mij het ene oor en en het andere oor weer uit.
                        In de vijfde klas begonnnen we met het maken van een dynamische website met PHP. Dat bleek zo'n uitdaging dat ik het maar bleef uitstellen en uiteindelijk een 5.5 haalde. Toch bleef het me interesseren en op den duur begon ik thuis te experimenteren met deze scripting taal.
                  </p>
                  <p>
                        Tijdens mijn propedeuse jaar van Communication & Multimedia Design kwam ik in aanraking met Javascript en jQuery en ontdekte ik dat je daar ook veel interessante dingen mee kon doen. De code was rommelig en niet georganiseerd, maar ik kreeg het voor elkaar om een heuse gokmachine met vanilla Javascript te maken. En oh ja, je locatie werd opgeslagen in een database wanneer je de hendel naar beneden trok!
                        Toen mijn studie niet helemaal meer lekker liep ben ik met gaan bezighouden met een Arduino en ontdekte ik dat er een erg interessante wereld achter dat kleine apparaat zat.
                        Gelijk vanaf het begin had ik al een doel in het oog: een lamp met een telefoon uit- en aanklikken. Na een tijd lang proberen heb ik dat (zonder bibliotheken!) voor elkaar gekregen. Nog steeds staat het apparaat op mijn kamer en gaat het licht aan wanneer ik de deur open doe!
                  </p>
                  <p>
                        Toen ik vervolgens de studie HBO-ICT ging doen ging er een wereld voor mij open. Ik maakte kennis met nieuwe programmeertalen zoals C#, Java, Python en C++, ik leerde betere manieren van programmeren door voortaan object georienteerd te programmeren, leerde dat version control met GIT verdraaid handig kan zijn, en leerdere dat het maken van diagrammen helemaal niet stoffig is, maar de oplossing die je maakt erg kan verduidelijken.<br>
                        In mijn vrije tijd heb ik al een aantal projecten gemaakt die mijn kennis verder verbreedden. Ik begon met het maken van websites in puur HTML, CSS en PHP, maar ben recentelijk overgestapt naar het Typescript framework Angular omdat het toch wel handig is om de data gescheiden te houden van de view...<br> De komende tijd wil ik hier beter in worden, en wil ik kijken naar een betere manier om data op te vragen van een database met behulp van een framework of door zelf een REST framework op te zetten.  
                  </p>    
            </div>
      </div>
</div>
<div class="ten wide container">
      <div class="row">
            <div class="ten wide column">
                  <h1 class="square">Ervaring</h1>
                  <p>
                        Elke programmeertaal heeft zijn eigen voor- en nadelen, en kan voor andere toepassingen gebruikt worden. In het kort ga ik elke techniek bij langs om een beeld te schetsen van wat ik kan.
                  </p>
            </div>
            <div class="three wide column">
                        <div class="row">
                        <h4>HTML & CSS</h4>
                        <p>Deze technieken zijn natuurlijk de basis van elke website, en het zal daarom niemand verbazen dat ik dit ook redelijk onder de knie heb.</p>
            
                  </div>
            </div>
            <div class="three wide column">
                  <div class="row">
                        <h4>PHP</h4>
                        <p>In PHP zie ik voor mezelf zeker nog mogelijkheden liggen. De makkelijke notatie, de object georienteerde kant, en het feit dat PHP op veel besturingssystemen draait maken het voor mij aantrekkelijk om me hier verder in te ontwikkelen.</p>
                        <p>Zoals al eerder vermeldt liggen de uitdagingen voor mij in het beveiligen van gebruikersinvoer en het veilig en handig communiceren met een database.</p>
                  </div>
            </div>
            <div class="three wide column">
                  <h4>C++</h4>
                  <p>Naast het programmeren van websites vind ik embedded toepassingen ook machtig interessant. C++ is door Arduino een logische programmeertaal om mee te beginnen. Op school zijn we recentelijk hier ook mee begonnen, dus ik hoop hier nog meer mee te doen.</p>
                  <p>Vooral het feit dat C++ 'dicht op het ijzer' zit en moeilijk snel maakt het voor mij interessant.</p>
            </div>
            <div>
                  <div class="three wide column">
                        <h4>C#</h4>
                        <p>Tijdens mijn eerste en tweede jaar van mijn studie ben ik in aanraking gekomen met C#. Toch ligt mijn focus hier niet op. C# is toegespitst op de .NET stack, en daar kan ik met een MacBook wat minder mee.</p>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="three wide column">
                  <h4>Java</h4>
                  <p>Java heeft mijn interesse omdat de meeste dingen wel met deze taal gedaan kunnen worden. Voor een project met school heb ik een gebruikersinterface gebouwd die makkelijk vanuit de commandline opgestart kon worden, super dus!</p>
            </div>
            <div class="three wide column">
                  <h4>Python</h4>
                  <p>Python vind ik interessant omdat de Raspberry Pi te programmeren is met deze taal. Ik snap er nog niet veel van, en de verplichte indentie is voor mij als PHP en C++ fan ontzettend vervelend, maar toch kan ik de simpele syntax erg waarderen.</p>
            </div>
            <div class="three wide column">
                  <h4>Angular</h4>
                  <p>In vergelijking met het bouwen van een website in puur HTML, CSS, Javascript en PHP is Angular echt een geschenk van boven. Het encapsuleren van functionaliteiten in services en het automatisch updaten van variablen in de view zijn echt ontzettend handig. Ik zie hier echt toekomst in.</p>
            </div>
            <div class="three wide column">
                  <h4>GIT</h4>
            </div>
      </div>
      <div class="row">
            <div class="three wide column">
                  <h4>Bash</h4>
            </div>
            <div class="three wide column">
                  <h4>jQuery</h4>
            </div>
            <div class="three wide column">
                  <h4>SQL</h4>
            </div>
            <div class="three wide column">
                  <h4>Assembly</h4>
            </div>
      </div>
</div>

<div class="ten wide container">
      <div class="row">
            <div class="ten wide column">
                  <h1 class="square">Hobby's</h1>
            </div>
      </div>
</div>