<div class="ten wide container">
      <div class="row">
            <div class="ten wide column">
                  <h1 class="square">Skills</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget justo at augue tempor dictum vitae
                        id lacus.
                        Mauris ornare odio vitae tellus tincidunt sollicitudin. Sed at libero enim. Sed cursus venenatis
                        nisi. Ut arcu
                        augue, cursus nec ligula ac, tempor feugiat massa. Nullam in ornare elit. Nam aliquam
                        ullamcorper turpis, at
                        tempor neque fermentum quis.</p>
                  <p>Etiam quam ipsum, sodales vitae ultricies faucibus, congue sit amet turpis. Curabitur faucibus
                        vehicula purus,
                        eleifend ultrices ante fringilla in. Etiam sem ipsum, consequat vitae gravida id, dapibus quis
                        est. Mauris
                        mauris nulla, lacinia vitae dictum eu, auctor quis lorem. Ut massa tellus, pulvinar vel
                        elementum quis, pretium
                        non nulla. Etiam porta, neque eu porta tincidunt, mi sem viverra lorem, in luctus est justo non
                        nulla. Nulla
                        dictum lectus nisl, id venenatis mauris vulputate quis.</p>
                  <p>Sed quis sodales sapien, sed mollis diam. Pellentesque habitant morbi tristique senectus et netus
                        et malesuada
                        fames ac turpis egestas. Phasellus eu pharetra mi, nec euismod metus. Duis in mi nunc. Aliquam
                        erat volutpat.
                        Aliquam commodo non eros quis vehicula. Nam tellus tortor, posuere sed ex vitae, tristique
                        dapibus lacus. Fusce
                        porta auctor ligula, nec consectetur lacus blandit et. Vestibulum feugiat consequat ipsum, ut
                        consectetur nulla
                        hendrerit sed. Donec euismod est sit amet diam dignissim tincidunt.</p>
            </div>
            <div class="three wide column">
                  <ul>
                        <li>Javascript</li>
                        <li>PHP</li>
                        <li>C++</li>
                        <li>Python</li>
                  </ul>
            </div>
            <div class="three wide column">
                  <ul>
                        <li>Javascript</li>
                        <li>PHP</li>
                        <li>C++</li>
                        <li>Python</li>
                  </ul>
            </div>
            <div class="three wide column">
                  <ul>
                        <li>JSON</li>
                        <li>HTML</li>
                        <li>CSS</li>
                  </ul>
            </div>
      </div>
</div>
<div class="ten wide container">
      <div class="row">
            <div class="ten wide column">
                  <h1 class="square">Ervaring</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget justo at augue tempor dictum vitae
                        id lacus.
                        Mauris ornare odio vitae tellus tincidunt sollicitudin. Sed at libero enim. Sed cursus venenatis
                        nisi. Ut arcu
                        augue, cursus nec ligula ac, tempor feugiat massa. Nullam in ornare elit. Nam aliquam
                        ullamcorper turpis, at
                        tempor neque fermentum quis.
                  </p>
            </div>
      </div>
</div>