<div class="ten wide container">
      <div class="row">
            <div class="twelve wide column">
                  <h1>Contact</h1>
                  <p>
                        Etiam quam ipsum, sodales vitae ultricies faucibus, congue sit amet turpis. Curabitur faucibus vehicula purus, eleifend ultrices ante fringilla in. Etiam sem ipsum, consequat vitae gravida id, dapibus quis est. Mauris mauris nulla, lacinia vitae dictum eu, auctor quis lorem.
                  </p>
            </div>
      </div>
      <div class="row">
            <div class="ten wide column">
                  <form>
                        <label for="test">Hi</label>
                        <input type="text" id="test" value="Hi">
                  </form>
            </div>
      </div>
</div>