<div class="twelve wide yellow container">
      <div class="ten wide container no-padding">
            <div class="row">
                  <div class="twelve wide column">
                        <h1>Contact</h1>
                        <p>
                              Etiam quam ipsum, sodales vitae ultricies faucibus, congue sit amet turpis. Curabitur faucibus vehicula purus, eleifend ultrices ante fringilla in. Etiam sem ipsum, consequat vitae gravida id, dapibus quis est. Mauris mauris nulla, lacinia vitae dictum eu, auctor quis lorem.
                        </p>
                  </div>
            </div>
            <div class="row">
                  <div class="six wide column">
                        <form method="get">
                              <div class="row">
                                    <label for="naam">Naam</label>
                                    <input type="text" id="naam" name="naam" placeholder="Naam">      
                              </div>
                              <div class="row">
                                    <label for="naam">Onderwerp</label>
                                    <input type="text" id="onderwerp" name="onderwerp" placeholder="Onderwerp">
                              </div>
                              <div class="row">
                                    <label for="naam">Bericht</label>
                                    <textarea rows="20" id="bericht" name="bericht" placeholder="Bericht"></textarea>
                              </div>
                              <div class="row">
                                    <button class="basic button">Hi</button>
                              </div>
                        </form>
                  </div>
            </div>
      </div>
</div>