<!-- <div class="ten wide top container">
      <div class="row">
            <div class="twelve wide column">
                  <nav class="navigation">
                        <ul class="menu">
                              <li><a routerLink="">PIETER BOERSMA</a></li>
                              <li><a routerLink="/about">OVER MIJ</a></li>
                              <li><a>PORTFOLIO</a></li>
                              <li><a>CONTACT</a></li>
                        </ul>
                  </nav>
            </div>
      </div>
</div> -->

<div class="ten wide container">
      <div class="row">
            <div class="twelve wide column">
                  <div class="header">
                        <input type="checkbox" id="chk">
                        <label for="chk" class="show-menu-btn">&#9776;</label>
                  
                        <div class="menu">
                              <a routerLink="">PIETER BOERSMA</a>
                              <a routerLink="about">OVER MIJ</a>
                              <a routerLink="portfolio">PORTFOLIO</a>
                              <a routerLink="contact">CONTACT</a>
                              <label for="chk" class="hide-menu-btn">&times;</label>
                        </div>
                  </div>
            </div>
      </div>
</div>