/* ------------------------------------------------------- 
      Table of contents
      1. 
------------------------------------------------------- */

:root {
      --dark-blue: #041B2D;
      --blue: #004E9A;
      --light-blue: #428CD4;

      --pink: #EA4492;
      --light-pink: #FF9CDA;

      --light-gray: rgb(243, 243, 243);
      --dark-gray: rgb(187, 187, 187);

      --light-red: #FEE8E6;
      --dark-red: #DB2B2C;
}

@font-face {
      font-family: Roboto;
      src: url(../fonts/Roboto.ttf);
    }

#logo {
      margin-left: 20px;
}

@media only screen and (min-width: 768px) {

      img {
            width: 100% !important;
      }
}

* {
      box-sizing: border-box;
}

body {
      font-family: Roboto;
      margin: 0; 
      padding: 0;
}

[class*="container"]{
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 40px;
      display: flex;
}

[class*="vertical"]{
      flex-direction: column;
}

[class*="horizontal"]{
      flex-direction: row;
}

[class*="horizontal reverse"]{
      flex-direction: row-reverse;
}

[class*="test"]{
      flex-direction: column;
}

[class*="vertical reverse"]{
      flex-direction: column-reverse;
}

[class*="vertical mobile"]{
      flex-direction: column;
}

[class*="horizontal mobile"]{
      flex-direction: column;
}

[class*="horizontal reverse mobile"]{
      flex-direction: column-reverse;
}

[class*="double"]{
      padding-top: 40px;
      padding-bottom: 40px;
}

[class*="triple"]{
      margin-top: 60px;
      margin-bottom: 60px;
}

[class*="none"]{
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
}

[class*="wrap"] {
      flex-wrap: wrap;
}

[class*="container"]::after {
      content: "";
      clear: both;
      display: table;
}

[class*="row"]{
      padding-bottom: 20px;
      padding-top: 20px;
      width: 100%;
}

[class*="top"] {
      margin-top: 0px;
      padding-top: 0px;
}

[class*="bottom"]{
      margin-bottom: 0px;
}

[class*="half row"]{
      padding-bottom: 10px;
      padding-top: 10px;
}

[class*="double row"] {
      padding-top: 40px;
      padding-bottom: 40px;
}

[class*="double bottom row"] {
      padding-bottom: 40px;
}

[class*="double top row"] {
      padding-top: 40px;
}

[class*="vertical aligned"]{
      display: flex; 
      align-items: center;
}

[class*="row"]::after {
      content: "";
      clear: both;
      display: table;
}

[class*="text-centered"], [class*="text-centered-mobile"]{
      text-align: center;
}

[class*="column"]{
      float: left;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
}

[class*="margin"]{
      margin-right: 0;
}

[class*="left floated"]{
      float: none;
}

@media only screen and (min-width: 768px) {

      [class*="text-centered-mobile"]{
            text-align: initial;
      }

      [class*="column"]{ 
            padding: 0;
      }

      [class*="one wide"]     { width: 7.69%;   }
      [class*="two wide"]     { width: 15.38%;  }
      [class*="three wide"]   { width: 23.08%;     }
      [class*="four wide"]    { width: 30.77%;  }
      [class*="five wide"]    { width: 38.46%;  }
      [class*="six wide"]     { width: 46.15%;     }
      [class*="seven wide"]   { width: 53.85%;  }
      [class*="eight wide"]   { width: 61.54%;  }
      [class*="nine wide"]    { width: 69.23%;     }
      [class*="ten wide"]     { width: 76.92%;  }
      [class*="eleven wide"]  { width: 84.62%;  }
      [class*="twelve wide"]  { width: 92.31%;    }
      [class*="thirteen wide"]{ width: 100%;    }

      [class*="one-third wide"]{ width: 33.33%;    }

      [class*="zero offset"]     { margin-left: 0%;   }
      [class*="one offset"]     { margin-left: 7.69%;   }
      [class*="two offset"]     { margin-left: 15.38%;  }
      [class*="three offset"]   { margin-left: 23.08%;     }
      [class*="four offset"]    { margin-left: 30.77%;  }
      [class*="five offset"]    { margin-left: 38.46%;  }
      [class*="six offset"]     { margin-left: 46.15%;     }

      [class*="one vertical offset"]   { margin-top: 7.69%; }
      [class*="two vertical offset"]   { margin-top: 15.38%; }

      [class*="vertical mobile"]{
            flex-direction: row-reverse;
      }

      [class*="vertical"]{
            flex-direction: row;
      }
      
      [class*="horizontal mobile"]{
            flex-direction: row;
      }

      [class*="horizontal reverse mobile"]{
            flex-direction: row;
      }

      [class*="test"]{
            flex-direction: row-reverse;
      }

      [class*="one margin"]{        margin-right: 20px; }
      [class*="two margin"]{        margin-right: 40px; }
      [class*="three margin"]{      margin-right: 60px; }

      [class*="left floated"]{
            float: left;
      }
}

/* ------------------------------------------------------- 
      Text
------------------------------------------------------- */

p {
      line-height: 2.0em;
}

a {
      text-decoration: none;
      color: black;
}

.underline {
      padding-bottom: 3px;
      border-bottom: 3px solid;
}

span.underline:hover {
      padding-bottom: 3px;
      border-bottom: 3px solid black;
}

.underline {
}

li.header {
      font-weight: lighter;
      /* color: var(--white); */
      opacity: 1;
}

ul > li {
      padding: 5px;
}

/* ------------------------------------------------------- 
      Navigation
------------------------------------------------------- */

a.testen{
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 3.5px;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 16px;
      background-color: #FFFFFF;
      color: var(--dark-gray);
      border: 2px solid var(--dark-gray);
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 20px;
      margin-top: 0px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
}

a.testen:first-child {
      margin-top: 0px;
}

a.testen:last-child {
      margin-bottom: 0px;
}

@media only screen and (min-width: 768px) { 
      a.testen {
            margin-right: 20px;
            margin-top: 0px;
            margin-bottom: 0px;
      }
}

a.testen.router-link-exact-active {
      color: var(--pink);
      border-color: var(--pink);
}

a.testen {
      text-decoration: none;
}

/* ------------------------------------------------------- 
      Menu
------------------------------------------------------- */

.menu div {
      margin-left: 40px;
      float: left;
      cursor: pointer;
}

.menu div:first-child {
      margin-left: 0px;
}

/* ------------------------------------------------------- 
      Buttons
------------------------------------------------------- */

.button {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 3.5px;
      border: 2px solid transparent;
      outline: none;
      cursor: pointer;
      font-size: 16px;
      display: block;
      margin: auto;
}

@media only screen and (min-width: 768px) {
      .button {
            margin: 0;
      }
}

.small-button {
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 2px;
      border: 1px solid transparent;
      outline: none;
      cursor: pointer;
      font-size: 16px;
}

[class*="inactive"] {
      background-color: #FFFFFF;
      color: var(--dark-gray);
      border: 1px solid var(--dark-gray);
}

[class*="inverted button"] {
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.3);
      color: #000000;
      background-color: #FFFFFF;
}

/* ------------------------------------------------------- 
      Headers
------------------------------------------------------- */

h1, h2, h3 {
      /* The buttom values are kept default to make it feel more natural */
      /* padding: 0; 
      margin-top: 0; */
}

[class*="header"]{
      padding: 0;
      margin: 0;
      font-family: 'Bebas Neue';
}

[class*="top header"] {
      padding-top: initial;
}

[class="bottom header"]{
      padding-bottom: initial;
}

.lighter {
      font-weight: 200;
      opacity: 0.5;
}

p.subtitle {
      line-height: 0px;
      /* opacity: 0.7; */
}

/* ------------------------------------------------------- 
      Colors
------------------------------------------------------- */

.dark-blue {
      background-color: var(--dark-blue);
      color: #FFFFFF;
}

.blue {
      background-color: var(--blue);
      color: #FFFFFF;
}

.light-blue {
      background-color: var(--light-blue);
      color: #FFFFFF;
}

.pink {
      background-color: var(--pink);
      color: #FFFFFF;
}

.light-pink {
      background-color: var(--light-pink);
      color: #FFFFFF;
}

.light-gray {
      background-color: var(--light-gray);
      color: #000000;
}

.dark-gray {
      background-color: var(--dark-gray);
      color: #000000;
}

.black {
      background-color: #000000;
      color: #FFFFFF;
}

.white {
      background-color: #FFFFFF;
      color: #000000;
}

.gray-color {
      color: rgba(0, 0, 0, 0.5);
}

.black-color {
      color: #000000;
      border-color: #000000;
}

.pink-color {
      border-color: var(--pink);
}

/* ------------------------------------------------------- 
      Footer
------------------------------------------------------- */

ul.footer-ul {
      list-style-type: none;
      padding: 0;
      color: #FFFFFF;
}

.footer-ul li {
      line-height: 2em;
}

.footer-ul > li > a {
      color: #FFFFFF;
}

.footer-ul > li:first-child {
      margin-bottom: 20px;
      font-weight: lighter;
      text-transform: uppercase;
}

/* ------------------------------------------------------- 
      Images
------------------------------------------------------- */

img {
      width: 100% !important;
}

[class*="image"] { 

}

[class*="shadow"] { 
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

[class*="fluid"] {
      width: 100%;
}

[class*="bordered"] img {
      border-radius: 7px;
}

[class*="vertical centered"] {
      display: flex;
      align-items: center;
}

.icon {
      vertical-align: middle;
      width: 30px !important;
      height: 30px !important;
      margin-right: 10px; 
      cursor: pointer;
}

/* ------------------------------------------------------- 
      Forms
------------------------------------------------------- */

input {
      padding: 20px; 
      margin-top: 10px;
      border: none;
      background-color: var(--light-gray);
      width: 100%;
      outline: none;
      font-size: 16px;
}

textarea {
      border: none;
      padding: 20px;
      margin-top: 10px;
      font-size: 16px;
      outline: none;
      resize: none;
      background-color: var(--light-gray);
}

/* ------------------------------------------------------- 
      Messages
------------------------------------------------------- */

[class*="message"]{

}

[class*="error"]{
      background-color: var(--light-red);
      border: 1px solid var(--dark-red);
      color: var(--dark-red);
}

[class*="error"]::placeholder {
      color: var(--dark-red);
}

/* ------------------------------------------------------- 
      Loader
------------------------------------------------------- */

.dot {
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: #FFFFFF;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      animation: bubble 2s linear infinite;
}

[class*="dot 1"]{
      animation: bubble-1 2s linear infinite;
}

[class*="dot 2"]{
      animation: bubble-2 2s linear infinite;
}

[class*="dot 3"]{
      animation: bubble-3 2s linear infinite;
}

@keyframes bubble-1 {
      0% { opacity: 1; }
      10% { opacity: 0.8; }
      20% { opacity: 0.6; }
      30% { opacity: 0.4; }
      40% { opacity: 0.2; }
      50% { opacity: 0; }
      60% { opacity: 0.2; }
      70% { opacity: 0.4; }
      80% { opacity: 0.6; }
      90% { opacity: 0.8; }
      100% { opacity: 1; }
}

@keyframes bubble-2 {
      0% { opacity: 0.2; }
      10% { opacity: 0.4; }
      20% { opacity: 0.6; }
      30% { opacity: 0.8; }
      40% { opacity: 1; }
      50% { opacity: 0.8; }
      60% { opacity: 0.6; }
      70% { opacity: 0.4; }
      80% { opacity: 0.2; }
      90% { opacity: 0; }
      100% { opacity: 0.2; }
}

@keyframes bubble-3 {
      0% { opacity: 0.4; }
      10% { opacity: 0.6; }
      20% { opacity: 0.8; }
      30% { opacity: 1; }
      40% { opacity: 0.8; }
      50% { opacity: 0.6; }
      60% { opacity: 0.4; }
      70% { opacity: 0.2; }
      80% { opacity: 0; }
      90% { opacity: 0.2; }
      100% { opacity: 0.4; }
}
.pointer {
      cursor: pointer;
}

td {
      width: 150px;
}

th {
      text-align: left;
}

[class*="color display"]:first-child {
      margin-top: 100px;
}

[class*="color display"]:last-child {
      margin-bottom: 100px;
}

[class*="color display"] div {
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
      margin-top: 25px;
      margin-bottom: 25px;
      border-radius: 100%;
}