description = "Contact"
[staticPage]
[contactform]
useContent = 1
default = 0
==
<html>
      <head>
            <script src="{{ 'assets/javascript/jquery.js'|theme }}"></script>
            {% framework extras %}
            {% partial "header" %}  
      </head>
      <body>
            {% partial "navigation" %}
            <div class="thirteen wide container">
                  <div class="six wide one offset column">
                        {% page %}
                  </div>
            </div>
            {% component 'contactform' %}
      </body>
      <footer>
            {% partial "footer" %}
      </footer>
</html>



