description = "Contact"
[staticPage]
useContent = 1
default = 0
==
<html>
      <head>
            <link href="{{ 'assets/css/main.css'|theme }}" rel="stylesheet">
      </head>
      <body>
            {% partial "navigation" %}
            <div class="thirteen wide none container">
                  <div class="six wide one offset column">
                        {% page %}
                  </div>
            </div>
            
      </body>
      <footer>
            {% partial "footer" %}
      </footer>
</html>



