.portfolio {
      border: 10px solid white;
      box-shadow: 1.5px 1.5px 5px #aaaaaa;
      
}

.portfolio > img {
      width: 100%;
}

#div-loader-container {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: var(--gray);
}
.lds-dual-ring {
      display: block;
      margin: auto;
      width: 80px;
      height: 80px;
      margin-top: calc(50vh - 40px);
}

.lds-dual-ring:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
      0% {
            transform: rotate(0deg);
      }
      100% {
            transform: rotate(360deg);
      }
}