[viewBag]
snippetCode = "button"
snippetName = "Button"

snippetProperties[text][title] = "Tekst"
snippetProperties[link][title] = "Link"

snippetProperties[background_color][title]      = "Achtergrondkleur"
snippetProperties[background_color][type]       = "dropdown"
snippetProperties[background_color][options][1] = "Donkerblauw"
snippetProperties[background_color][options][2] = "Blauw"
snippetProperties[background_color][options][3] = "Lightblauw"
snippetProperties[background_color][options][4] = "Rood"
snippetProperties[background_color][options][5] = "Wit"
snippetProperties[background_color][options][6] = "Omgekeerd"

snippetProperties[target][title]      = "Nieuw tabblad"
snippetProperties[target][type]       = "checkbox"
snippetProperties[target][options][0] = 0
snippetProperties[target][options][1] = 1


==
function onStart(){
      $this['colors'] = ["dark-blue", "blue", "light-blue", "pink", "white", "reverse"];
}
==
<div class="row">
      <a {% if target == 1 %} target="_blank" {% endif %} href="{{link}}"><button class="{{colors[background_color - 1]}} button">{{text}}</button></a>
</div>