[viewBag]
snippetCode = "column"
snippetName = "Kolom"

snippetProperties[column_width][title]      = "Kolom breedte"
snippetProperties[column_width][type]       = "dropdown"
snippetProperties[column_width][options][1] = "0"
snippetProperties[column_width][options][2] = "1"
snippetProperties[column_width][options][3] = "2"
snippetProperties[column_width][options][4] = "3"
snippetProperties[column_width][options][5] = "4"
snippetProperties[column_width][options][6] = "5"
snippetProperties[column_width][options][7] = "6"
snippetProperties[column_width][options][8] = "7"
snippetProperties[column_width][options][9] = "8"
snippetProperties[column_width][options][10] = "9"
snippetProperties[column_width][options][11] = "10"
snippetProperties[column_width][options][12] = "11"
snippetProperties[column_width][options][13] = "12"
snippetProperties[column_width][options][14] = "13"

snippetProperties[offset][title]      = "Afstand"
snippetProperties[offset][type]       = "dropdown"
snippetProperties[offset][options][1] = "0"
snippetProperties[offset][options][2] = "1"
snippetProperties[offset][options][3] = "2"
snippetProperties[offset][options][4] = "3"
snippetProperties[offset][options][5] = "4"
snippetProperties[offset][options][6] = "5"
snippetProperties[offset][options][7] = "6"

==
function onStart(){
      $this['values'] = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven", "twelve", "thirteen"];
      $this['colors'] = ["white", "light-gray", "dark-blue"];
}
==
<div class="{{values[column_width - 1]}} wide {{values[offset - 1]}} offset column">
