[viewBag]
snippetCode = "container"
snippetName = "Container"
snippetProperties[page_title][title] = "Title"

snippetProperties[column_width][title]      = "Kies een waarde"
snippetProperties[column_width][type]       = "dropdown"
snippetProperties[column_width][1]          = "1"
snippetProperties[column_width][options][1] = "1"
snippetProperties[column_width][options][2] = "2"
snippetProperties[column_width][options][3] = "3"
snippetProperties[column_width][options][4] = "4"
snippetProperties[column_width][options][5] = "5"
snippetProperties[column_width][options][6] = "6"
snippetProperties[column_width][options][7] = "7"
snippetProperties[column_width][options][8] = "8"
snippetProperties[column_width][options][9] = "9"
snippetProperties[column_width][options][10] = "10"
snippetProperties[column_width][options][11] = "11"
snippetProperties[column_width][options][12] = "12"
snippetProperties[column_width][options][13] = "13"
==
<div class="container">
      <div class="">
            {{column_width}}
      </div>
</div>
