==
<div class="thirteen wide none container">
    <div class="six wide one offset column">

    </div>
    <div class="four wide one offset column">

        <ul class="right navigation">
                <li><a href="/" class="{% if this.page.id == 'index' %}active{% endif %}">Home</a></li>
                <li><a href="/portfolio" class="{% if this.page.id == 'portfolio' %}active{% endif %}">Portfolio</a></li>
                <li><a href="/contact" class="{% if this.page.id == 'contact' %}active{% endif %}">Contact</a></li>
        </ul>
    </div>
</div>