==
<!-- <div class="thirteen wide test bottom container">
      <a class="testen {% if this.page.id == 'contact' %}active{% endif %}" href="/contact">Contact</a>
      <a class="testen {% if this.page.id == 'portfolio' %}active{% endif %}" href="/portfolio">Portfolio</a>
      <a class="testen {% if this.page.id == 'index' %}active{% endif %}" href="/">Home</a>
</div> -->
<nav role="navigation">
            <div id="menuToggle" style="float: left;">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="#"><li>Homepagina</li></a>
                    <a href="#"><li>Portfolio</li></a>
                    <a href="#"><li>Contact</li></a>
                </ul>
            </div>
            <h2 style="float: left;">Pieter Boersma</h2>
</nav>