==
<nav role="navigation">
    <div id="menuToggle">
        <input id="action" type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <li><a href="/" class="{% if this.page.id == 'index' %}active{% endif %}">Home</a></li>
            <li><a href="/portfolio" class="{% if this.page.id == 'portfolio' %}active{% endif %}">Portfolio</a></li>
            <li><a href="/contact" class="{% if this.page.id == 'contact' %}active{% endif %}">Contact</a></li>
        </ul>
    </div>
</nav>