<div class="ten wide container">
      <div class="row">
            <div class="six wide column">
                  <h1>AANGENAAM, PIETER</h1>
                  <div class="row">
                        <p>Naast mijn studie HBO-ICT ben ik projecten aan het realiseren voor opdrachtgevers. Op het
                              moment
                              zijn dat
                              websites, maar ik sta open voor andere opdrachten :)</p>
                        <p>Blader vooral eens door mijn website om te kijken wie ik ben, wat ik doe, en of je met mij
                              samen
                              zou willen
                              werken!</p>
                        <p>Bekijk mijn portfolio voor meer informatie over de opdrachten die ik al afgerond heb, en om te kijken of ik wat voor je kan betekenen.</p>
                  </div>
                  <div class="bottom padding row">
                        <button routerLink="portfolio" class="yellow button">PORTFOLIO</button>
                  </div>
            </div>
            <div class="six wide column">
                  <img class="image" src="assets/me.png">
            </div>
      </div>
</div>
