/* List of contents
---------------------------------------------------------------- 
*     Grid
*     Lists
*     Text
*     Buttons
*     Forms
*     Spacing
*     Shapes
*     Utilities
*     Colors
*/

:root {
      /* formatting */
      --padding: 20px;

      /* colors */
      --yellow: #FDBC3F;
      --gray: rgb(230, 230, 230);

}

body {
      margin: 0;
      padding: 0;
}

* {
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
}

/* Grid
---------------------------------------------------------------- */

[class*="wide"] {
      width: 100%;
}

[class*="column"] {
      padding-left: var(--padding);
      padding-right: var(--padding);
      padding-top: var(--padding); /* Mobile only padding */
      padding-bottom: var(--padding); /* Mobile only padding */
}

[class*="centered column"] {
      text-align: center;
}

.row {
      padding-top: calc(var(--padding) / 2);
      padding-bottom: calc(var(--padding) / 2);
}

.container {
      margin: 0 auto;
      padding-top: calc(var(--padding) / 1);
      padding-bottom: calc(var(--padding) / 1);
}

.row::after {
      content: "";
      clear: both;
      display: table;
}

/* Tablet and desktop screens */
@media only screen and (min-width: 768px) {

      [class*="column"] {
            float: left;
            padding-top: 0px;
            padding-bottom: 0px;
      }

      [class*="one wide"] { width: 8.33%; }
      [class*="two wide"] { width: 16.66%; }
      [class*="three wide"] { width: 25%; }
      [class*="four wide"] { width: 33.33%; }
      [class*="five wide"] { width: 41.66%; }
      [class*="six wide"] { width: 50%; }
      [class*="seven wide"] { width: 58.33%; }
      [class*="eight wide"] { width: 66.67%; }
      [class*="nine wide"] { width: 75%; }
      [class*="ten wide"] { width: 83.33%; }
      [class*="eleven wide"] { width: 91.67%; }
      [class*="twelve wide"] { width: 100%; }
}

/* Lists
---------------------------------------------------------------- */

ul {
      list-style: circle inside; 
      line-height: 25px;
}

/* Text
---------------------------------------------------------------- */

p {
      line-height: 25px;
      font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
      margin: 0;
}

/* Buttons
---------------------------------------------------------------- */

.button {
      padding-left: calc(var(--padding) * 2);
      padding-right: calc(var(--padding) * 2);
      padding-top: calc(var(--padding) / 1.5);
      padding-bottom: calc(var(--padding) / 1.5);
      border: none;
      color: #FFFFFF;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
}

.basic {
      background-color: #FFFFFF;
      color: rgb(105, 105, 105);
      font-weight: lighter;
      border: 1.5px solid rgb(207, 207, 207);
}

/* Forms
---------------------------------------------------------------- */

input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: none;
      border-radius: 5px;
}

textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: none;
      border-radius: 5px;
}

a {
      text-decoration: none;
}

/* Spacing
---------------------------------------------------------------- */

[class*="bottom padding"] {
      padding-bottom: 40px;
}

/* Shapes
---------------------------------------------------------------- */
.square {
      position: relative;
}

.square::before, .square::after {
      content: '';
      width: 32px;
      height: 32px;
      position: absolute;
      background-color: var(--yellow);
}

.square::before {
      display: none;
}

.square::after {
      margin-left: 10px;
}

@media only screen and (min-width: 768px) {
      .square::before {
            display: block;
            left: -42px;
      }

      .square::after {
            display: none;
      }
}

/* Utilities
---------------------------------------------------------------- */

.image {
      width: 100%;
}

.inverted {
      color: #FFFFFF;
}

/* Colors
---------------------------------------------------------------- */

.yellow {
      background-color: var(--yellow);
      color: #FFFFFF;
}

.grey {
      background-color: var(--gray);
}

.white {
      background-color: #FFFFFF;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}